<div class="container text-center my-4">
  <!-- Barra de navegación -->
  <app-navbar [page]="'home'"></app-navbar>

  <!-- Mensaje de bienvenida -->
  <p class="lead text-muted mb-5">
    Bienvenido al hotel Back & Front, la mejor elección en la costa bonaerense.
  </p>

  <!-- Sección de imágenes -->
  <div class="row mb-4">
    <div class="col-md-4">
      <img src="assets/imagenes/habitacion.jpg" class="img-fluid rounded" alt="Habitación">
    </div>
    <div class="col-md-4">
      <img src="assets/imagenes/pileta.jpg" class="img-fluid rounded" alt="Pileta">
    </div>
    <div class="col-md-4">
      <img src="assets/imagenes/sala.jpg" class="img-fluid rounded" alt="Sala">
    </div>
  </div>

  <!-- Información de contacto y mapa -->
  <div class="row mt-4">
    <!-- Información de contacto -->
    <div class="col-md-6 text-start">
      <h2 class="h4">Dirección:</h2>
      <p class="mb-1">Av. Corrientes 4200</p>
      <p class="mb-1">CP: 1414 - Villa Crespo, CABA</p>
      <p>Teléfono: +54 1147790880</p>
    </div>

    <!-- Imagen de ubicación (Mapa) -->
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.0456450163265!2d-58.42661402441475!3d-34.60300727295452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca646fa630b5%3A0x7bbd83c84a056641!2sAv.%20Corrientes%204200%2C%20C1414%20Quilmes%2C%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1731433107574!5m2!1ses!2sar" 
        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
