
<div>

  <!-- Mensaje de bienvenida -->
  <p class="lead text-muted mb-5">
    Bienvenido al hotel Sunset Bay, la mejor elección en la costa bonaerense.
  </p>

  <!-- Sección de imágenes -->
  <div class="row mb-4">
    <div class="col-md-4">
      <img src="assets/imagenes/habitacion.jpg" class="img-fluid rounded" alt="Habitación">
    </div>
    <div class="col-md-4">
      <img src="assets/imagenes/pileta.jpg" class="img-fluid rounded" alt="Pileta">
    </div>
    <div class="col-md-4">
      <img src="assets/imagenes/sala.jpg" class="img-fluid rounded" alt="Sala">
    </div>
  </div>

  <!-- Información de contacto y mapa -->
  <div class="row mt-4">
    <!-- Información de contacto -->
    <div class="col-md-6 text-start">
      <h2 class="h4">Dirección:</h2>
      <p class="mb-1">Av. Costanera Sur 1300</p>
      <p class="mb-1">CP: 7109 - Mar de Ajó, provincia de Buenos Aires</p>
      <p>Teléfono: +54 2257 477880</p>
    </div>

    <!-- Imagen de ubicación (Mapa) -->
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2260.797517104177!2d-56.67607784034842!3d-36.74055762820032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959c65ead1a47dd5%3A0xc159e1036cf8959c!2sAv.%20Costanera%20Sur%201300%2C%20B7109%20Mar%20de%20Aj%C3%B3%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1sen!2sar!4v1732291875738!5m2!1sen!2sar" 
        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
