<nav class="nav justify-content-center mb-4">
  <a
    class="nav-link" [routerLink]="''" [ngClass]="{ 'active': page === 'home' }">Home</a>

  <a
    class="nav-link" [routerLink]="'/Calendario'" [ngClass]="{ 'active': page === 'calendario' }">Calendario</a>

  <a
    class="nav-link" [routerLink]="'/Habitaciones'" [ngClass]="{ 'active': page === 'habitaciones' }">Habitaciones</a>

  <a
    class="nav-link"[routerLink]="'/Reseñas'"[ngClass]="{ 'active': page === 'reseñas' }">Reseñas</a>
</nav>
