<!-- Barra de navegación de Fechas -->
<div>
    <button type="button" class="btn btn-outline-primary" id="btn-next" (click)="changeDate(-1)">&lt;</button>
    <input type="date" [(ngModel)]="currentDate" [max]="maxDate" [min]="minDate" class="date-display">
    <button type="button" class="btn btn-outline-primary" id="btn-next" (click)="changeDate(1)">&gt;</button>
</div>

<!-- Disponibilidad de habitaciones-->
<div class="rooms-grid">
    <div *ngFor="let roomNumber of habitaciones"
        [ngClass]="{'room': true, 'occupied': isRoomOccupied(roomNumber)}">
        {{ roomNumber }}
    </div>
</div>